<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/Users/arturohinojosa/Documents/Netflix_Copy/CSS/welcome.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <title>Netflix</title>
    </head>
    <body>
        <div class="row s6 m8 l12" id="header">  
            <img src="/Users/arturohinojosa/Documents/Netflix_Copy/Images/Logo-Netflix.png" id="Logo" alt="Netflix Logo">
        </div>
        <div class="row s6 m8 l12" id="main">
            <div>
                <h1 id="title">¿Quién esta viendo ahora?</h1>
            </div>
            <div id ="usersDiv">
                <div class="userCard">
                    <button class="userButton">
                        <img src="/Users/arturohinojosa/Documents/Netflix_Copy/Images/house.png" class="image" alt="Netflix_User">
                    </button>
                    <p class="userName">Mary Carmen</p>
                </div>
                <div class="userCard">
                    <button class="userButton">
                        <img src="/Users/arturohinojosa/Documents/Netflix_Copy/Images/black.png" class="image" alt="Netflix_User">
                    </button>
                    <p class="userName">Alexa Reyna</p>
                </div>
                <div class="userCard">
                    <button class="userButton">
                        <img src="/Users/arturohinojosa/Documents/Netflix_Copy/Images/queer.png" class="image" alt="Netflix_User">
                    </button>
                    <p class="userName">Arthur</p>
                </div>
                <div class="userCard">
                    <button class="userButton">
                        <img src="/Users/arturohinojosa/Documents/Netflix_Copy/Images/kids.png" class="image" alt="Netflix_User">
                    </button>
                    <p class="userName">Niños</p>
                </div> 
                <div class="userCard">
                    <button class="userButton">
                        <span class="material-symbols-outlined" id="icon">
                            add_circle
                        </span>
                    </button>
                    <p class="userName">Agregar perfil</p>
                </div>
            </div>
            <div id="buttonContainer">
                <button id="admin">Administrar perfiles</button>
            </div>
        </div>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>